@model gcp_net_framework_sample.Models.CloudStorageViewModel
@{
    ViewBag.Title = "Index";
}

<H1>Cloud Storage Sample</H1>
@if (Model.MissingBucketName)
{
    <p>Set the configuration variable CloudStorageOptions:BucketName to your Cloud Storage bucket name.</p>
    <p>See the README.md in the project directory for more information.</p>
}
else
{
    if (Model.SavedNewContent)
    {
        <p>The new content was saved.</p>
    }
    <form method="post" id="TextForm">
        <label for="content">BucketName:</label>
        @Html.TextBoxFor(model => model.BucketName)<br />
        <label for="content">BucketobjectName:</label>
        @Html.TextBoxFor(model => model.BucketobjectName)<br />
        <label for="content">Enter some file content:</label><br />
        @Html.TextAreaFor(model => model.Content)<br />
        <button id="Submit" type="submit">Save</button>
    </form>
}